.login-card {
  position: absolute;
  left: 33%;
  top: 26%;
  /* vertical-align: middle; */
  width: 28%;
  height: 41%;
  border: aquamarine;
  border-style: groove;
  padding: 37px;
  overflow: hidden;
}
